
.footer-main-container{
  /* background-color: #f7f7f7; */
  display: flex;
  flex-direction: column;
  /* height: 300px; */
  /* padding: 40px; */

}

.footer-top-half-container{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(240, 240, 240); */
}

.footer-title{
  font-size: 22px;
  font-weight: 600;
  color: #222222;
}

.footer-tabs-container{
  border-bottom: solid 1px #dddddd;
  display: flex;
  margin-top: 28px;
  gap: 28px;
  margin-bottom: 32px;
}

.footer-tab-items-active{
  /* height: 28px; */
  color: #222222;
  font-size: 14px;
  border-bottom: solid 2px #222222;
  
}

.footer-tab-items{
  height: 38px;
  color: #6a6a6a;
  font-size: 14px;
}

.footer-tab-items:hover{
  height: 38px;
  color: #222222;
  font-size: 14px;
  cursor: pointer;
}


.footer-middle-container{
  display: flex;
  flex-direction: row;
  background-color: yellowgreen;
  margin-top: 100px;

}

.footer-support{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list-header{
    font-weight: 600;
}

.list-items{
    color: #222222;
}

.footer-hosting{
  flex: 1;
}

.footer-airbnb{
  flex: 1;
}


.cities-main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 28px;
  /* margin-bottom: 100px; */
}

.city-and-offering{
  display: flex;
  flex-direction: column; 
  gap: 4px;
  font-size: 14px;
  cursor: pointer;
 
}

.city{
  color: #222222;
}

.city-property-offering{
  color: #6a6a6a;
}

.city-property-offering:hover{
  color: #222222;
}

.footer-bottom-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222222;
}